.main {
	align-items: center;
	background: var(--PURPLE);
	display: flex;
	flex: 0 0 96px;
	height: 96px;
	justify-content: space-between;
	padding: 0 16px;
}

/* Mobile */
@media screen and (max-width: 960px) {
	.main {
		flex-direction: column-reverse;
		justify-content: center;
	}
}
