.main {
	border: 1px solid var(--GRAY);
	border-radius: 6px;
	box-shadow: rgba(0, 0, 0, 0.2) 2px 2px 5px;
	display: inline-flex;
	flex-direction: column;
	padding: 16px;
}

.title {
	font-size: 18px;
	font-weight: normal;
	margin: 0;
}

.size {
	color: var(--GRAY-DARK);
	font-size: 11px;
}
