.main {
	min-width: 320px
}

.input {
	background: transparent;
	border: 2px solid var(--WHITE);
	border-radius: 16px;
	color: var(--WHITE);
	font-size: 11px;
	font-weight: 300;
	height: 27px;
	outline: none;
	padding: 0 16px 1px;
	width: 100%;
}

.input::placeholder {
	color: var(--WHITE-FADED);
}

/* Mobile */
@media screen and (max-width: 960px) {
	.main {
		min-width: auto;
		width: 100%;
	}
}
