/* stylelint-disable selector-max-combinators, selector-max-type, selector-max-universal */

:global * {
	box-sizing: border-box;
}

:global html,
:global body {
	background: var(--PURPLE-DARK);
	height: 100%;
}

:global body {
	--GRAY: #DADCE0;
	--GRAY-DARK: #A8A8A9;
	--PINK: #DCA3C8;
	--PURPLE: #5741D9;
	--PURPLE-DARK: #2B2261;
	--RED: #FF8B8B;
	--WHITE: #FFF;
	--WHITE-FADED: rgba(255, 255, 255, 0.7);
	letter-spacing: 0.5px;
	margin: 0;
	padding: 0;
}

:global body,
:global button {
	font-family: Roboto, "Open Sans", Arial, sans-serif;
}

/* stylelint-disable-next-line selector-max-id, selector-max-specificity */
:global #__next {
	display: flex;
	flex-direction: column;
	height: 100%;
}
