/* stylelint-disable selector-max-combinators, selector-max-type */

:global html,
:global body {
	background: var(--PURPLE-DARK);
	height: 100%;
}

:global body {
	--GRAY: #C8C8C9;
	--GRAY-DARK: #989899;
	--PURPLE: #5741D9;
	--PURPLE-DARK: #2B2261;
	--WHITE: #FFF;
	--WHITE-FADED: rgba(255, 255, 255, 0.7);
	letter-spacing: 0.5px;
	margin: 0;
	padding: 0;
}

:global body,
:global button {
	font-family: Roboto, "Open Sans", Arial, sans-serif;
}

/* stylelint-disable-next-line selector-max-id, selector-max-specificity */
:global #__next {
	display: flex;
	flex-direction: column;
	height: 100%;
}

:global a {
	text-decoration: none;
}

:global p {
	font-size: 14px;
	font-weight: 300;
	line-height: 24px;
	margin: 8px 0;
}

:global h2 {
	font-size: 30px;
	font-weight: 300;
	margin-top: 32px;
}

:global h3 {
	font-size: 24px;
	font-weight: 300;
	margin-top: 32px;
}
